*,*::before,*::after {
     -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
     -ms-box-sizing: border-box !important;
     box-sizing: border-box !important;

}
body{
     font-family: Raleway;
     margin: 0;
     padding: 0;   
     background: rgb(248, 249, 250); 
     section{
          margin: 0 !important;
          .container{
               margin: 0 auto !important;
          }
     }
}


#navigation{
     font-family: Pacifico;
     background-color: rgba(255,255,255,0.65);
     .navbar-nav{
          font-family: Raleway;
          font-weight: 900;
          font-size: 16px;
          color: rgb(255, 0, 0);
     }
     .nav-item{
          padding: 0;
          &:hover{
               display:block;
               border-top: 3px solid rgb(255,96, 51);
          }
     }
}
.top0{
     height: 150px;
}
.scroll-below{
     height:60px;
}

#footer{
     font-family: Raleway;
     font-weight: 300;
     font-size: 16px;
     color: rgb(185, 185, 185);
     background: rgb(38, 38, 38);
     .container{
          .row{
               height: 90px;
               display: flex;
               align-items: center;
               justify-content: center;
               .col{
                    text-align: center;
                    &:nth-child(2){
                         font-family: Pacifico;
                         font-size: 24px;
                    }
                    .paint-red{
                         color: rgb(247, 43, 59);
                         font-weight: 700;
                    }
               }
          }
     }

}
