@mixin placeholder-color($placeholder-color, $f-size) {
     &:-moz-placeholder {
          color: $placeholder-color;
      }
     &::-webkit-input-placeholder {
         color: $placeholder-color;
     }
 
     &:-moz-placeholder {
         color: $placeholder-color;
     }

     &:-ms-input-placeholder {
         color: $placeholder-color;
     }
     font-size: $f-size;
 
 }
@mixin g-button($bg){
    @extend .f20, .fw-light ;
    margin: 0 auto !important;
    color: white;
    background: $bg;
    padding: 16px 24px;
    box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2);

}
@mixin news($source){
    background-image: url("../img/#{$source}");
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 8%;
}