.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f17 { font-size: 17px; }
.f20 { font-size: 20px; }
.f32 { font-size: 32px; }
.f40 { font-size: 40px; }
.f60 { font-size: 60px; }
.f80 { font-size: 80px; }
.f90 { font-size: 90px; }

.fw-light { font-weight: 300 }
.fw-bold { font-weight: 700 }
.fw-black { font-weight: 900 }


