$def-text: rgb(38, 38, 38);
$white: rgb(255, 255, 255);
$c-sub-parag: rgb(26, 3, 3);




// background-color
// bg
$bg-galery: rgb(254, 233, 46);
$bg-blog: rgb(176, 124, 247);
$bg-os:rgb(112, 191, 255);
$bg-au:rgb(0, 176, 176);
// button-bg
$btn-bg-header: rgb(255, 96, 51);
$btn-bg-subscribe: rgb(150, 185, 44);
$btn-bg-gallery: rgb(85, 133, 162);
$btn-bg-blog: rgb(247,43,59);

// box-shadow
$shadowbox: 2px 10px 9px rgba(0, 0, 0, 0.2);