#about-us{
     background: $bg-au;   
     position: relative;
     .container{
          background-image: url("../img/cup.png");
          background-size: contain;
          background-repeat: no-repeat;
          
          h2{
               @extend .f90, .fw-bold, .mb32 ;
               color: white;
          }
          p{
               @extend .f17, .fw-light, .text-center, .mb32 ;
               color: white;
          }
     }
}
