#blog{
     background: $bg-blog;
     padding: 20px 0px;
     .container{
          h2{
               @extend .f90, .fw-bold, .mb32, .t-center ;
               color: white;
          }
          h2{
               @extend .f40, .fw-bold, .mb32 ;
               color: $def-text;
          }
          p{
               @extend .f17, .fw-light, .t-center ;
               max-width: 500px;
               margin: 0 auto 32px auto !important;
               color: white;
          }
          .row{
               margin-right: auto;
               margin-left: auto;

               .sub-news{

                    .container-news{
                    position: relative;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;

                         div{
                              @extend .fw-bold, .t-center ;
                              padding: 0;
                              color: white;
                              margin: 0 32px;
                              background: rgb(86, 92, 101);
                              width: 18%;
                         }
                         h3{
                              @extend .f32, .fw-bold, .mb32 ;
                              color: white;
                              margin-left: 32px 20px;
                         }
                         p{
                              @extend .f13, .fw-light, .mb20 ;
                              color: white;

                              margin-left: 20px;
                         }
                         
                    }
                    
               }

          }
          button{
               @include g-button($btn-bg-blog);
          }
     }
}
#news1{
     @include news("blog1.png");
}
#news2{
     @include news("blog2.png");
}
#news3{
     @include news("blog3.png");
}