#gallery{
     background: $bg-galery;
     padding: 20px 0px;
     h2{
        @extend .f90, .fw-bold, .mb32, .t-center ;
        color: $def-text;
     }
     p{
        @extend .f17, .fw-light, .text-center, .mb32 ;
        color: $def-text;
        margin: 0px auto 48px auto !important;
        max-width: 500px;
     }
     .container{
          &::after{
               clear: both;
          }
          .row{
               position: relative;
               div:nth-child(1){
                    position: relative;
               }

               div:nth-child(2){
                    position: relative;
                    
               }

               div:nth-child(3){
                    position: absolute;
                    left: 67%;
                    top: 50%;
                    
               }
                @media only screen and (max-width: 767px){
                    div:nth-child(3){
                         position: relative;
                         left: auto;
                         top: auto;
                         border-radius: 30%;
                    }
               }
               div{
                    float: left;
                    img{
                         margin-bottom: 32px !important;
                         max-width: 100%;
                     //    vertical-align: middle;
                    }
                    div{
                         margin: 0px 0px !important;
                    }
               }
          }
     }
     button{
          display: block;
          margin: 0 auto !important;  
          font-weight: 300;
          font-size: 20px;
          color: rgb(255, 255, 255);
          background: rgb(85, 133, 162);
          padding: 16px 24px;
          box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2); 
          
     }
}  
