#header{
     padding: 15% 0 25%;
     background-image: url("../img/header-bg.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: right;
     div{
          position: relative;
     }
     h2{
          @extend .f60, .fw-black, .mb32, .t-center ;
          color: $def-text;
     }
     p{
          @extend .f17, .fw-light, .text-center, .mb32 ;
          color: $def-text;
     }
     button{
          @include g-button($btn-bg-header);   
     }
}