#our-service{
     background: $bg-os;
     .container{
          background-image: url("../img/tomato.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          
          h2{
               @extend .f90, .fw-bold ;
               color: white;
          }
          p{
               @extend .f20, .text-center ;
               color: $def-text;
          }
          #os-text{
               display: flex;
               position: relative;
               text-align: center;
               justify-content: center;
               align-items: center;
          }
          #os-boxes{
               .d-flex{
                    height: 100px;
                    margin: 16px !important;
                    box-shadow: $shadowbox;
                    background: rgb(255, 255, 255);
                    div{
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         width: 100px;
                         border-left: 1px solid rgb(182, 182, 182);
                         background-repeat: no-repeat;
                         background-position: center;
                         background-size: 50%;
                         text-align: center;
                    }
                    .au-os{
                         background-image: url(../img/cart.png); 
                    }
                    .au-qp{
                         background-image: url(../img/quality.png); 
                    }
                    .au-did{
                         background-image: url(../img/world.png); 
                    }
                    .au-wo{
                         background-image: url(../img/carrot.png); 
                    }
               }
          }
     }
}
