#subscribe{
     position: relative;
     background-image: url("../img/sub-bg.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: right;
     margin-right: auto;
     margin-left: auto;
     .container{
          position: relative;
          padding: 10% 0 10%;
     }

     h2{
          @extend .f40, .fw-bold, .mb32 ;
          color: $def-text;
     }
     p{
          @extend .f17, .fw-light, .text-center, .mb32 ;
          //@extend .fs;
          color: $c-sub-parag;
          
     }
     input{
          margin-bottom: 30px;
          border: 1px solid $def-text;
          padding: 20px 16px;
          color: $def-text;
          @include placeholder-color(rgb(170, 170, 170), 16px);
     }
     @media screen and (max-width: 992px){
          input{
          }
     }
 
     button{
          @include g-button($btn-bg-subscribe);     
     }
}